// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'modaal';

@import 'infiniteScroll';

@import 'pageTop';
// 共通レイアウト
a {
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

.a_btn:hover {
    text-decoration: none;
}

// ロゴ
.site-title {
    width: 120px;
    line-height: 1px;
    margin-bottom: 0;
    img {
        max-width: 100%;
    }
    a {
        display: block;
    }
}
