// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'modaal';

@import 'infiniteScroll';

// 共通レイアウト
a {
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

.a_btn:hover {
    text-decoration: none;
}
