section {
    scroll-margin-top: 50px;
}
.main-visual {
    margin-top: -1.5rem;
    margin-bottom: 80px;
    position: relative;
    @include media('>ipad') {
        margin-bottom: 120px;
    }
    img {
        width: 100%;
        height: calc(100vh - 80px);
        object-fit: cover;
    }
    &__layer {
        position: absolute;
        width: 85%;
        color: #fff;
        top: 24%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        background: rgba(0, 0, 0, 0.6);
        padding: 10px 10px;
        @include media('>ipad') {
            width: auto;
            padding: 10px 50px;
        }
        &__logo {
            img {
                height: auto;
                max-width: 300px;
            }
        }
        &__description {
            margin: 24px 0;
            &--btn {
                background: #f6c364;
                border-radius: 50px;
                padding: 10px 30px;
                color: #000;
                transition: 0.3s ease-in-out;
                position: relative;
                .fa-position-right {
                    position: absolute;
                    top: calc(50% - .5em);
                    right: 0.5rem;
                }
                &:hover {
                    background: #db9e2e;
                    color: #000;
                }
            }
        }
        &__register {
            display: flex;
            justify-content: center;
            gap: 3em;
            margin-top: 8px;
            &--btn {
                background: #bbf13d;
                border-radius: 50px;
                padding: 10px 30px;
                color: #313131;
                transition: 0.3s ease-in-out;
                position: relative;
                .fa-position-right {
                    position: absolute;
                    top: calc(50% - .5em);
                    right: 0.5rem;
                }
                &:hover {
                    background: #78aa04;
                    color: #fff;
                }
                &:last-child {
                    background: #fff;
                    &:hover {
                        background: #3d6af1;
                    }
                }
            }
        }
    }
}
.SoundHub-what {
    margin-bottom: 80px;
    & h4 {
        line-height: 2rem;
        @include media('>ipad') {
            line-height: 3rem;
        }
    }
}
.icon {
    &--background {
        background-color: #daa520;
    }
    &--font-size {
        font-size: 3em;
    }
}
